@media screen and (min-width: 760px){
    .modal{
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .modal-background{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8)
    }
    .close-super-button{
        position: absolute;
        top: 0.25rem;
        right: 1rem;
    }
    .super-button{
        font-size: 24px;
        color: white;
    }
    .supper-button:hover{
        cursor: pointer;
    }
    .modal-container{
        position: absolute;
        top: 5%;
        max-width: 500px;
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        background-color: var(--dark-background-color);
        border: 1px solid var(--list-menu-background-color);
        border-radius: 5px;
        color: var(--light-text-color);
    }
}

@media screen and (max-width: 760px){
    .modal{
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .modal-background{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8)
    }
    .close-super-button{
        position: absolute;
        top: 0;
        right: 1rem;
    }
    .super-button{
        font-size: 24px;
        color: white;
    }
    .close-super-button:hover{
        cursor: pointer;
    }
    .modal-container{
        position: absolute;
        top: 5%;
        max-width: 450px;
        width: 100%;
        height: 90%;

        display: flex;
        flex-direction: column;
        background-color: var(--dark-background-color);
        border: 1px solid var(--list-menu-background-color);
        border-radius: 5px;
        color: var(--light-text-color);
    }
}