.category-box{
    position: relative;
    min-width: 500px;
    max-width: 500px;
    text-align: center;
}
.category-title{
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
.title-text{
    font-size: 24px;
}
.items-box{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}