.category-box{
    position: relative;
    min-width: 375px;
    max-width: 375px;
    text-align: center;
    margin-right: 50px;
}
.category-title{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
.title-text-box{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
}
.title-text{
    text-align: center;
    width: 100%;
    font-size: 24px;
    border: 0px;
    background-color: inherit;
}
.title-text:focus{
    border-bottom: 1px solid;
    outline: none;
}
.title-img-box{
    padding-top: 10px;
    padding-right: 10px;
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    width: auto;
    text-align: center;
}
.title-img{
    font-size: 18px;
    margin-left: 10px;
}
.item{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}