.category-box{
    position: relative;
    min-width: 375px;
    max-width: 375px;
    text-align: center;
    margin-right: 50px;
}
.category-title{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
.title-text-box{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: first baseline;
    width: 90%;
}
.title-text{
    width: 100%;
    font-size: 24px;
}
.title-img-box{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: auto;
}
.title-img{
    width: 24px;
    height: 24px;
}
.item{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}