.item-box{
    position: relative;
    margin-bottom: 10px;
    padding-block: 10px;
    padding-inline: 20px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    border: 1px solid;
    border-radius: 5px;
}
.item-box:hover{
    cursor: grab;
}
.item-box:active{
    cursor: grabbing;
}
.item-check{
    position: relative;
    width: auto;
    margin-right: 10px;
}

.item-check{
    position: relative;
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.item-text{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.input-text{
    position: relative;
    width: 275px;
    font-size: 14px;
    border: 0px solid;
    background-color: inherit;
}
.input-text:focus {
    border-bottom: 1px solid;
    outline: none;
}
.input-text:hover{
    cursor: text;
}
.item-context{
    position: relative;
    margin-left: 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    background-color: transparent;
}
/*.context-img{
    width: 10px;
    height: 10px;
}*/
.context-img{
    font-size: 16px;
}
.context-img:hover{
    cursor: pointer;
}

.italic{
    color: black;
    text-decoration: line-through;
}