@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Declaring colors variables */
:root{
    /* Light Mode */
    --light-background-color: whitesmoke;
    --light-antibackground-color: rgb(78, 78, 78);
    --light-text-color: black;
    --light-antitext-color: rgb(236, 236, 236);
    --light-navbar-background-color: #b6b6b6;
    --light-list-menu-background-color: #e0e0e0;
    --light-extreme: white;

    /* Dark mode */
    --dark-background-color: rgb(78, 78, 78);
    --dark-antibackground-color: whitesmoke;
    --dark-text-color: rgb(236, 236, 236);
    --dark-antitext-color: black;
    --dark-navbar-background-color: #3a3a3a;
    --dark-list-menu-background-color: #797979;
    --dark-extreme: black;
}

/* Theme default */
:root{
  --background-color: var(--light-background-color);
  --text-color: var(--light-text-color);
  --navbar-background-color: var(--light-navbar-background-color);
  --list-menu-background-color: var(--light-list-menu-background-color);
  --antibackground-color: var(--light-antibackground-color);
  --antitext-color: var(--light-antitext-color);
  --extreme: var(--light-extreme);
  --antiextreme: var(--dark-extreme);
}

/* Dark Theme */
@media (prefers-color-scheme: dark){
  :root {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --navbar-background-color: var(--dark-navbar-background-color);
    --list-menu-background-color: var(--dark-list-menu-background-color);
    --antibackground-color: var(--dark-antibackground-color);
    --antitext-color: var(--dark-antitext-color);
    --extreme: var(--dark-extreme);
    --antiextreme: var(--light-extreme);

  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  position: relative;
  min-height: 100vh;
  color: var(--text-color);
  background: var(--background-color);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
