@import './base.css';

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: inherit;
}